<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="edu.stts.materialcomponents">

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:allowBackup">
        <activity android:name="edu.stts.materialcomponents.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                        android:scheme="http"
                        android:host="stts.edu"
                        android:pathPattern="/material-components"/>
            </intent-filter>
        </activity>
        <activity android:name="edu.stts.materialcomponents.activity.MainActivity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu1.Menu1Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu2.Menu2Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu2.BasicButtonActivity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu3.Menu3Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu4.Menu4Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu5.Menu5Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu6.Menu6Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu7.Menu7Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu8.Menu8Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu9.Menu9Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu10.Menu10Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu11.Menu11Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu12.Menu12Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu13.Menu13Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu13.BasicActivity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu14.Menu14Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu15.Menu15Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu16.Menu16Activity"/>
        <activity android:name="edu.stts.materialcomponents.activity.menu17.Menu17Activity"/>
    </application>

</manifest>